body {
  border: 1px solid black;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  padding: 30px 5px 30px 5px;
  margin: 25px 40px 25px 40px;
  max-width: 650px;
}
p {
  border: 1px solid black;
  border-radius: 40px;
  transition: all 150ms ease-in-out;
  padding: 30px auto;
  margin: 25px 5px 25px 5px;
  max-width: 300px;
}

.day {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: larger;
}
.time {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: larger;
}
.units {
  position: relative;
  top: -40px;
  right: -32px;
}
